<div class="container mx-auto">
  <div class='grid sm:grid-cols-2 grid-cols-1 mt-10'>
    <div class='col-span-1 sm:px-4 px-2'>
      <%= image_tag 'reading-club.gif', alt: 'Illustration of people reading a book'%>
    </div>
    <div class='col-span-1 sm:px-10 px-4'>
      <p class='sm:text-6xl text-2xl font-bagel'>
        Curl up with a Good Book-Club Sandwich: Join the Literary Feast!
      </p>
      <p class='sm:text-sm text-xs mt-10 leading-8'>
         Looking for the ideal book club app to satisfy your reading cravings? Look no further! Welcome to our virtual library of book club apps, where bookworms can find their perfect literary match. We understand that every reader has unique tastes and preferences, and that's why we've curated a smorgasbord of book club apps, each with its own distinct flavor and appeal.
         <br />
         <br />
         Whether you're seeking thought-provoking discussions, cozy virtual gatherings, or a platform to connect with fellow book lovers around the globe, we've got you covered. Our website is your gateway to a world of literary adventures, where you can explore, discover, and join book club apps tailored to your interests. From classic literature to contemporary bestsellers, from genre-specific clubs to diverse reading communities, our book club app bonanza offers something for every reader.
      </p>
    </div>
  </div>
</div>