<nav class=" border-b border-gray-900">
  <div class="container mx-auto flex items-center justify-between px-4 py-3">
    <div class="flex justify-center items-center gap-4">
      <%= image_tag 'logo.png', alt: 'Books Logo', class: 'w-10'%>
      <a href="#" class="text-primary text-xl font-semibold">Libro</a>
    </div>
    <div class="hidden md:flex md:items-center">
      <a href="#about" class="text-gray-900 hover:underline px-3 py-2">About</a>
      <a href="#trending" class="text-gray-900 hover:underline px-3 py-2">Trending</a>
      <a href="/users/sign_in" class="text-gray-900 px-3 py-2">
        <button class="bg-none border border-gray-900 rounded-full hover:bg-gray-900 px-4 py-2 hover:text-white">
          Log in
        </button>
      </a>
    </div>
    <div class="md:hidden">
      <button type="button" class="text-gray-900 focus:outline-none focus:text-gray-900">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
</nav>
